@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #12343b;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover{
    color: #e1b382;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #2d545e;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main h2 {
    color: #c89666;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 2.1em;
    font-weight: 600;
}

.main h3 {
    color: #e1b382;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-button {
    color: white;
    background-color: #12343b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-button:hover {
    background-color: #c89666;
    transform: scale(1.1);
}

.icons a {
    color: #c89666;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #12343b;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #C89666;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 8px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: white;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px;
}

.projects {
    background-color: #2d545e;
}

.projects .content {
    margin-top: 30px;
}

.pro_card {
    background-color: #c89666;
    border: 4px solid #12343b;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 14px;
    margin: 20px;
    transition: 0.7s ease;
}

.pro_card:hover {
    transform: scale(1.1);
}

.pro_card:hover .pro_img{
    opacity: 0.8;
}

.pro_img img {
    width: 100%;
}

.pro_info {
    padding: 1em;
}

.pro_cat {
    font-size: 1em;
    color: white;
}

.pro_title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more_info {
    text-decoration: none;
    color: #12343b;
}

.more_info:hover {
    color:white;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #12343b;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #12343b;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer_title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer_title span {
    color: #c89666;
}

.footer .icon a{
    font-size: 1.4em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 15px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section {
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3 {
        font-size:1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641){
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3 {
        font-size: 1.4em;
    }
}

@media(max-width:300px){
    body{
        font-size: 10px;
    }
}
/*
color scheme
#E1B382
#C89666
#2D545E
#12343B
*/
